
body{
    background-size: cover;
   
}
header{
    background-color: black;
    height: 4.5em;
}

.head-tag{
    float: right;
    margin-top: 44px;
    margin-left: 55px;

}
.head-tag a{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: white;

padding: 2px;
margin-right: 3px;
margin-top: 2px;
}.head-tag a:hover{
    background-color: teal;
    color: black;
    transition: 0.5s ease-in-out;
}
* {
    box-sizing: border-box;
  }
  
  .fa{ padding: 10px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
 } 
  /* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;}
.fa-youtube {
  background: #3B5998;
  color: white;}

.fa-twitter {
  background: #55ACEE;
  color: white;}

.fa-instagram {
  background: #3B5998;
  color: white;}
.fa-google {
  background:#55ACEE;
  color: white;}
footer{
 background-color: black;
 color: white;
  display: flex;
    align-items: center;
   justify-content: center;
  }

  .bg-img {
    /* The image used */
    background-image: url("C:\Users\admin\Desktop\WEB DEVELOPMENT\KeralaTourism\images\Ananthapura_Lake_Temple_2.jpg");
    /* Control the height of the image */
    min-height: 380px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Add styles to the form container */
  .container {
    position: absolute;
    right: 0;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
  }
  
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .btn:hover {
    opacity: 1;
  }
  * {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] ,input[type=number]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus  {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

* {box-sizing: border-box}
.cont{
  float: right;
  border: 1px solid red;
  background-color: beige;
  margin-right: 20px;
  margin-top: 25px;
  padding: 25px;
  align-items: center;
 justify-content: center;
 
}
/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}
* {box-sizing: border-box}
.fg{
  
  color: cadetblue;
  
}#text {
  display: block;
  color: #000;
  font-weight: 300;
  font-style: italic;
  padding: 8px;
}
